h1{
    text-align: center;
    background-color: chartreuse;
    height: 100px;
}
h4{
    text-align: center;
    background-color:chartreuse
}
ul l{
    text-align: right;
    height: 100px
    background-color: white;
    
}  
#myphoto{
    background-color: lightgrey;
    width: 700px;
    border: 25px solid green;
    display: flex;
    padding: 20px;
    margin: 10px;
    margin-right: 3em;
    text-align:left;
    position: relative;

    
}
#about-me{
    display: flex;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    height: 100%;
    border: 10px solid white;
    box-shadow: 2px 2px 20px gray;
    
}
.hab{
    display: flex;
    flex-direction: row-reverse;
}
ol{
    background-image: url(./FB_IMG_15376451785568861.jpg);
    background-repeat: no-repeat;
}
body{
    background-repeat: no-repeat;
    background-color: orangered;


}
#homepage{
    padding-top: 20px;
    margin-top: 10px;
    text-align: left;


}

    
}